<div class="container">
  <div class="row">
    {{outlet overview}}
  </div>

  <div class="row">
    <div class="span12" style="max-height:200px; overflow:auto; margin-top:15px; border:1px solid lightgray; border-radius:4px">
      {{outlet activities}}
    </div>
  </div>
  
  <div class="row">
    <div class="span6">
      {{outlet sportsummary}}
    </div>
  </div>
</div>
