<div class="container">
	<table class="table table-striped table-hover">
		<tr>
			<th>Name</th>
			<th>Brand</th>
			<th>Date of Purchase</th>
			<th>Distance</th>
		</tr>
		{{#each controller}}
		<tr>
			<td>{{name}}</td>
			<td>{{brand}}</td>
			<td>{{dateOfPurchase}}</td>
			<td>{{distance}}</td>
		</tr>
		{{/each}}
	</table>
</div>
